<div class="col-md-8">
    <div class="btn-group" style="float:right">
        <button type="button" id="btnSubmit" class="btn btn-sm btn-outline-success"><i class="far fa-save fa-sm pr-2"></i>Save</button>
        <button type="button" id="btnDelete" class="btn btn-sm btn-outline-danger"><i class="far fa-minus-square fa-sm pr-2"></i>Delete</button>
        <button type="button" id="btnClear" style="color:black; background-color:white" class="btn btn-sm btn-outline-light"><i class="fas fa-recycle fa-sm pr-2"></i>Clear</button>
    </div>
</div>


<style>
    #btnSubmit, #btnSubmit2, #btnClear, #btnDelete, #btnPrint {
        box-shadow: 0 0.125rem 0.625rem rgba(0, 6, 3, 0.4), 0 0.0625rem 0.125rem rgba(255, 255, 255, 0.5);
        width: 100px;
        border-radius: 20px;
        margin-left: 5px;
        height: 30px;
        padding: 0px;
    }
</style>
