
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
    <link href="~/FrontEnd/CustomDesign/thankyouPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/FrontEnd/plugins/fontawesome-free/css/all.min.css">
</head>
<body>
    <div class=content>
        <div class="wrapper-1">
            <div class="wrapper-2">
                <h4>Your Action Already Submited!</h4>
                <button class="go-home">
                    <i style="font-size:50px; color:red" class="fas fa-times"></i>
                </button>
            </div>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
</body>
</html>



